In [49]:
import pandas as pd

In [50]:
file_name = "F1_4_Detailed releases at facility level with E-PRTR Sector and Annex I Activity detail into Air.csv"
data1 = pd.read_csv(file_name)
data1.head()

/tmp/ipykernel_6737/3429537438.py:2: DtypeWarning: Columns (7,10,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv(file_name)

,countryName,EPRTRSectorCode,eprtrSectorName,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,FacilityInspireID,facilityName,facilityNameConfidentialityReason,Longitude,Latitude,addressConfidentialityReason,City,targetRelease,pollutant,emissions,reportingYear,releasesConfidentialityReason
0,Austria,4.0,Chemical industry,4(d),Chemical installations for the production on a...,AT.CAED/9008390392737.FACILITY,Nufarm GmbH & CO KG,NaN,14.336056,48.290943,NaN,Linz,AIR,"1,2-dichloroethane (DCE-1,2)",3300.0,2007,NaN
1,Austria,9.0,Other activities,9(c),Installations for the surface treatment of sub...,AT.CAED/9008390396414.FACILITY,MAGNA STEYR Fahrzeugtechnik AG&Co KG,NaN,15.477778,47.019170,NaN,"Graz,07.Bez.:Liebenau",AIR,Non-methane volatile organic compounds (NMVOC),170000.0,2007,NaN
2,Austria,6.0,Paper and wood production and processing,6(b),Industrial plants for the production of paper ...,AT.CAED/9008390397176.FACILITY,Fritz EGGER GmbH & Co. OG,NaN,15.691833,48.259556,NaN,Unterradlberg,AIR,Carbon dioxide (CO2),228000000.0,2007,NaN
3,Austria,6.0,Paper and wood production and processing,6(b),Industrial plants for the production of paper ...,AT.CAED/9008390397176.FACILITY,Fritz EGGER GmbH & Co. OG,NaN,15.691833,48.259556,NaN,Unterradlberg,AIR,Nitrogen oxides (NOX),311000.0,2007,NaN
4,Austria,3.0,Mineral industry,3(c),Installations for the production of cement cli...,AT.CAED/9008390397220.FACILITY,voestalpine Stahl GmbH,NaN,14.159778,47.807083,NaN,Klaus an der Pyhrnbahn,AIR,Carbon dioxide (CO2),329000000.0,2007,NaN

In [51]:
# now choose only london
data1 = data1[data1["City"]== 'London']
data1.head()

,countryName,EPRTRSectorCode,eprtrSectorName,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,FacilityInspireID,facilityName,facilityNameConfidentialityReason,Longitude,Latitude,addressConfidentialityReason,City,targetRelease,pollutant,emissions,reportingYear,releasesConfidentialityReason
297134,United Kingdom,8.0,Animal and vegetable products from the food an...,8(b),Treatment and processing intended for the prod...,UK.CAED/EW_EA-3678.FACILITY,United Biscuits (UK) Limited T/A Pladis,NaN,-0.261731,51.5359,NaN,London,AIR,Hydrochlorofluorocarbons (HCFCs),15.0,2009,NaN
300011,United Kingdom,8.0,Animal and vegetable products from the food an...,8(b),Treatment and processing intended for the prod...,UK.CAED/EW_EA-3678.FACILITY,United Biscuits (UK) Limited T/A Pladis,NaN,-0.261731,51.5359,NaN,London,AIR,Hydrochlorofluorocarbons (HCFCs),295.0,2010,NaN
302842,United Kingdom,8.0,Animal and vegetable products from the food an...,8(b),Treatment and processing intended for the prod...,UK.CAED/EW_EA-3678.FACILITY,United Biscuits (UK) Limited T/A Pladis,NaN,-0.261732,51.5359,NaN,London,AIR,Hydrochlorofluorocarbons (HCFCs),191.0,2011,NaN
304094,United Kingdom,8.0,Animal and vegetable products from the food an...,8(b),Treatment and processing intended for the prod...,GB.EEA/13486.FACILITY,"Tate And Lyle Plc, Tate & Lyle",NaN,0.047184,51.5015,NaN,London,AIR,Carbon dioxide (CO2),106000000.0,2012,NaN
305636,United Kingdom,8.0,Animal and vegetable products from the food an...,8(b),Treatment and processing intended for the prod...,UK.CAED/EW_EA-3678.FACILITY,United Biscuits (UK) Limited T/A Pladis,NaN,-0.261720,51.5359,NaN,London,AIR,Hydrochlorofluorocarbons (HCFCs),16.5,2012,NaN

In [52]:
#select relevant data
data1 = data1.loc[:,["targetRelease","pollutant","emissions","reportingYear"]]
data1.sort_values('reportingYear',inplace=True)
data1.head()

,targetRelease,pollutant,emissions,reportingYear
297134,AIR,Hydrochlorofluorocarbons (HCFCs),15.0,2009
300011,AIR,Hydrochlorofluorocarbons (HCFCs),295.0,2010
302842,AIR,Hydrochlorofluorocarbons (HCFCs),191.0,2011
304094,AIR,Carbon dioxide (CO2),106000000.0,2012
305636,AIR,Hydrochlorofluorocarbons (HCFCs),16.5,2012

In [53]:
#health index
file_name = "health-index-1.csv"
data2 = pd.read_csv(file_name)
data2.head()

,id,utc_created,utc_updated,country,country_code,indicator_code,indicator,value,year
0,1,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,72206,HDI: Health index,0.327,1980
1,2,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,72206,HDI: Health index,0.375,1985
2,3,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,72206,HDI: Health index,0.440,1990
3,4,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,72206,HDI: Health index,0.498,1995
4,5,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,72206,HDI: Health index,0.536,2000

In [54]:
# now choose only london
data2 = data2[data2["country"]== 'United Kingdom']
data2.head()

,id,utc_created,utc_updated,country,country_code,indicator_code,indicator,value,year
793,794,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,United Kingdom,GBR,72206,HDI: Health index,0.823,1980
794,795,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,United Kingdom,GBR,72206,HDI: Health index,0.839,1985
795,796,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,United Kingdom,GBR,72206,HDI: Health index,0.855,1990
796,797,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,United Kingdom,GBR,72206,HDI: Health index,0.871,1995
797,798,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,United Kingdom,GBR,72206,HDI: Health index,0.888,2000

In [55]:
data2 = data2.loc[:,["value","year"]]
data2.sort_values('year',inplace=True)
data2 = data2.rename(columns={"year":"reportingYear"})
data2
#some years missing

     value  reportingYear
793  0.823           1980
794  0.839           1985
795  0.855           1990
796  0.871           1995
797  0.888           2000
798  0.908           2005
799  0.912           2006
800  0.916           2007
801  0.922           2009
802  0.924           2010
803  0.927           2011
804  0.929           2012
805  0.931           2013

In [56]:
file_name = "dft_aadf_region_id_6.csv"
data3 = pd.read_csv(file_name)
data3

,count_point_id,year,region_id,region_name,local_authority_id,local_authority_name,road_name,road_type,start_junction_road_name,end_junction_road_name,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,6750,2014,6,London,96,Islington,A201,Major,Swinton St,Pentonville Rd,...,787,1728,204,74,132,15,6,18,449,11916
1,8352,2014,6,London,104,Lewisham,A2,Major,A20,A20,...,430,1415,258,36,58,6,11,22,390,9426
2,6807,2014,6,London,178,Kingston upon Thames,A240,Major,A3210,A307,...,175,1589,251,35,13,2,4,19,325,12951
3,27765,2014,6,London,57,Barnet,A5109,Major,Barnet Lane,A1000/A109,...,302,1651,246,12,12,0,1,1,273,19276
4,8488,2014,6,London,104,Lewisham,A20,Major,A20 Amersham Rd,A2 Parkfield Rd,...,656,1617,286,83,27,5,8,7,415,12821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50184,37106,2022,6,London,66,Hillingdon,A404,Major,LA Boundary,A4180,...,447,1672,211,42,43,9,7,6,318,16531
50185,17099,2022,6,London,66,Hillingdon,A437,Major,A4(T),A312,...,553,1628,120,17,5,1,13,5,162,15900
50186,17024,2022,6,London,66,Hillingdon,A408,Major,A4,A3044,...,248,687,75,3,3,4,0,12,97,6503
50187,37713,2022,6,London,66,Hillingdon,A4007,Major,LA Boundary,A4020/A408,...,121,2078,364,78,24,5,66,53,589,12357
50188,78345,2022,6,London,66,Hillingdon,A40,Major,LA Boundary,B467 slips,...,298,20597,4623,537,1051,352,425,2249,9237,111780

In [57]:
#select relevant data
data3 = data3.loc[:,["year","all_motor_vehicles"]]
data3

       year  all_motor_vehicles
0      2014               11916
1      2014                9426
2      2014               12951
3      2014               19276
4      2014               12821
...     ...                 ...
50184  2022               16531
50185  2022               15900
50186  2022                6503
50187  2022               12357
50188  2022              111780

[50189 rows x 2 columns]

In [58]:
#sum the number of total vehicles by year
data3 = data3.groupby('year')['all_motor_vehicles'].sum().reset_index()
data3 = data3.rename(columns={"year":"reportingYear"})
data3

    reportingYear  all_motor_vehicles
0            2000            55572506
1            2001            55553417
2            2002            54356983
3            2003            55230556
4            2004            54561589
5            2005            54435671
6            2006            55846934
7            2007            54834530
8            2008            55040271
9            2009            54216130
10           2010            51921676
11           2011            50247234
12           2012            48965709
13           2013            49059691
14           2014            49510592
15           2015            49450382
16           2016            49472094
17           2017            49833281
18           2018            51555695
19           2019            52646698
20           2020            39938321
21           2021            42798523
22           2022            44774794

In [61]:
#first merge data1 and data2
merged_df = data1.merge(data2, on="reportingYear", how="outer")
merged_df

,targetRelease,pollutant,emissions,reportingYear,value
0,AIR,Hydrochlorofluorocarbons (HCFCs),15.0,2009,0.922
1,AIR,Hydrochlorofluorocarbons (HCFCs),295.0,2010,0.924
2,AIR,Hydrochlorofluorocarbons (HCFCs),191.0,2011,0.927
3,AIR,Carbon dioxide (CO2),106000000.0,2012,0.929
4,AIR,Hydrochlorofluorocarbons (HCFCs),16.5,2012,0.929
5,AIR,Carbon dioxide (CO2),111000000.0,2013,0.931
6,AIR,Nitrous oxide (N2O),31100.0,2013,0.931
7,AIR,Ammonia (NH3),178000.0,2013,0.931
8,AIR,Hydrochlorofluorocarbons (HCFCs),254.0,2013,0.931
9,AIR,Methane (CH4),226000.0,2013,0.931
10,AIR,Hydrochlorofluorocarbons (HCFCs),14.0,2014,NaN
11,AIR,Ammonia (NH3),173000.0,2014,NaN
12,AIR,Nitrous oxide (N2O),24500.0,2014,NaN
13,AIR,Nitrous oxide (N2O),17900.0,2015,NaN
14,AIR,Ammonia (NH3),50000.0,2015,NaN
15,AIR,Nitrous oxide (N2O),50700.0,2016,NaN
16,AIR,Chromium and compounds (as Cr),157.0,2017,NaN
17,AIR,Nitrous oxide (N2O),24900.0,2017,NaN
18,AIR,Ammonia (NH3),52000.0,2017,NaN
19,AIR,Ammonia (NH3),50000.0,2018,NaN
20,AIR,Chlorofluorocarbons (CFCs),43.9,2019,NaN
21,AIR,Methane (CH4),538000.0,2019,NaN
22,AIR,Ammonia (NH3),58000.0,2019,NaN
23,NaN,NaN,NaN,1980,0.823
24,NaN,NaN,NaN,1985,0.839
25,NaN,NaN,NaN,1990,0.855
26,NaN,NaN,NaN,1995,0.871
27,NaN,NaN,NaN,2000,0.888
28,NaN,NaN,NaN,2005,0.908
29,NaN,NaN,NaN,2006,0.912
30,NaN,NaN,NaN,2007,0.916

In [65]:
#last merge
final_merged = merged_df.merge(data3, on="reportingYear", how="outer")
final_merged.sort_values('reportingYear',inplace=True)
final_merged.set_index("reportingYear", inplace=True)
final_merged

,targetRelease,pollutant,emissions,value,all_motor_vehicles
reportingYear,,,,,
1980,NaN,NaN,NaN,0.823,NaN
1985,NaN,NaN,NaN,0.839,NaN
1990,NaN,NaN,NaN,0.855,NaN
1995,NaN,NaN,NaN,0.871,NaN
2000,NaN,NaN,NaN,0.888,55572506.0
2001,NaN,NaN,NaN,NaN,55553417.0
2002,NaN,NaN,NaN,NaN,54356983.0
2003,NaN,NaN,NaN,NaN,55230556.0
2004,NaN,NaN,NaN,NaN,54561589.0
2005,NaN,NaN,NaN,0.908,54435671.0
2006,NaN,NaN,NaN,0.912,55846934.0
2007,NaN,NaN,NaN,0.916,54834530.0
2008,NaN,NaN,NaN,NaN,55040271.0
2009,AIR,Hydrochlorofluorocarbons (HCFCs),15.0,0.922,54216130.0
2010,AIR,Hydrochlorofluorocarbons (HCFCs),295.0,0.924,51921676.0
2011,AIR,Hydrochlorofluorocarbons (HCFCs),191.0,0.927,50247234.0
2012,AIR,Carbon dioxide (CO2),106000000.0,0.929,48965709.0
2012,AIR,Hydrochlorofluorocarbons (HCFCs),16.5,0.929,48965709.0
2013,AIR,Hydrochlorofluorocarbons (HCFCs),254.0,0.931,49059691.0
2013,AIR,Methane (CH4),226000.0,0.931,49059691.0
2013,AIR,Ammonia (NH3),178000.0,0.931,49059691.0
2013,AIR,Nitrous oxide (N2O),31100.0,0.931,49059691.0
2013,AIR,Carbon dioxide (CO2),111000000.0,0.931,49059691.0
2014,AIR,Nitrous oxide (N2O),24500.0,NaN,49510592.0
2014,AIR,Ammonia (NH3),173000.0,NaN,49510592.0
2014,AIR,Hydrochlorofluorocarbons (HCFCs),14.0,NaN,49510592.0
2015,AIR,Ammonia (NH3),50000.0,NaN,49450382.0
2015,AIR,Nitrous oxide (N2O),17900.0,NaN,49450382.0
2016,AIR,Nitrous oxide (N2O),50700.0,NaN,49472094.0
2017,AIR,Ammonia (NH3),52000.0,NaN,49833281.0
2017,AIR,Nitrous oxide (N2O),24900.0,NaN,49833281.0
2017,AIR,Chromium and compounds (as Cr),157.0,NaN,49833281.0
2018,AIR,Ammonia (NH3),50000.0,NaN,51555695.0
2019,AIR,Methane (CH4),538000.0,NaN,52646698.0
2019,AIR,Chlorofluorocarbons (CFCs),43.9,NaN,52646698.0
2019,AIR,Ammonia (NH3),58000.0,NaN,52646698.0
2020,NaN,NaN,NaN,NaN,39938321.0
2021,NaN,NaN,NaN,NaN,42798523.0
2022,NaN,NaN,NaN,NaN,44774794.0